<div>
    <h2 *jhiHasAnyAuthority="'ROLE_ADMIN'" id="page-heading">
        <span jhiTranslate="rentautoApp.autopark.home.title">Autoparks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-autopark" [routerLink]="['/autopark/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rentautoApp.autopark.home.createLabel">
            Create a new Autopark
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="autoparks?.length === 0">
        <span jhiTranslate="rentautoApp.autopark.home.notFound">No autoparks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="autoparks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mark"><span jhiTranslate="rentautoApp.autopark.mark">Mark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="model"><span jhiTranslate="rentautoApp.autopark.model">Model</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prePrice"><span jhiTranslate="rentautoApp.autopark.prePrice">Pre Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="color"><span jhiTranslate="rentautoApp.autopark.color">Color</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="rentautoApp.autopark.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pledge"><span jhiTranslate="rentautoApp.autopark.pledge">Pledge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusAvaileble"><span jhiTranslate="rentautoApp.autopark.statusAvaileble">Status Availeble</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let autopark of autoparks ;trackBy: trackId">
                    <td><a [routerLink]="['/autopark', autopark.id, 'view']">{{ autopark.id }}</a></td>
                    <td>{{ autopark.mark }}</td>
                    <td>{{ autopark.model }}</td>
                    <td>{{ autopark.prePrice }}</td>
                    <td>{{ autopark.color }}</td>
                    <td jhiTranslate="{{ 'rentautoApp.CarType.' + autopark.type }}">{{ autopark.type }}</td>
                    <td>{{ autopark.pledge }}</td>
                    <td>{{ autopark.statusAvaileble }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/autopark', autopark.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                    [routerLink]="['/autopark', autopark.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(autopark)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
