<div>
    <h2 *jhiHasAnyAuthority="'ROLE_ADMIN'" id="page-heading">
        <span jhiTranslate="rentautoApp.penalty.home.title">Penalties</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-penalty" [routerLink]="['/penalty/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rentautoApp.penalty.home.createLabel">
            Create a new Penalty
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="penalties?.length === 0">
        <span jhiTranslate="rentautoApp.penalty.home.notFound">No penalties found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="penalties?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"  jhiSortBy="datePenalty"><span jhiTranslate="rentautoApp.penalty.datePenalty">Date Penalty</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="rentautoApp.penalty.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="rentautoApp.penalty.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"  jhiSortBy="customer.id"><span jhiTranslate="rentautoApp.penalty.customer">Customer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let penalty of penalties ;trackBy: trackId">
                    <td><a [routerLink]="['/penalty', penalty.id, 'view']">{{ penalty.id }}</a></td>
                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ penalty.datePenalty | date:'medium' }}</td>
                    <td>{{ penalty.price }}</td>
                    <td>{{ penalty.description }}</td>
                    <td>
                        <div *ngIf="penalty.customer">
                            <a [routerLink]="['/customer', penalty.customer?.id, 'view']" >{{ penalty.customer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                    [routerLink]="['/penalty', penalty.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                    [routerLink]="['/penalty', penalty.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(penalty)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
