<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fixcar-heading" jhiTranslate="rentautoApp.fixcar.home.createOrEditLabel">Create or edit a Fixcar</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentautoApp.fixcar.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentautoApp.fixcar.dateFixing" for="field_dateFixing">Date Fixing</label>
                    <div class="d-flex">
                        <input id="field_dateFixing" type="datetime-local" class="form-control" name="dateFixing" formControlName="dateFixing" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentautoApp.fixcar.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="rentautoApp.fixcar.autoparks" for="field_autoparks">Autoparks</label>
                    <select class="form-control" id="field_autoparks" multiple name="autoparks" formControlName="autoparks">
                        <option [ngValue]="getSelected(editForm.get('autoparks')!.value, autoparkOption)" *ngFor="let autoparkOption of autoparks; trackBy: trackById">{{ autoparkOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
